#red-bar {
  position: fixed;
  top: 20%;
  right: 0;
  width: 200px; /* Longer width */
  height: 40px; /* Thinner height */
  background-color: #ff7f7f; /* Pastel red color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for modern look */
  transform: translateY(-50%);
  z-index: 10000;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: white;
}

#timer {
  font-size: 20px;
}

#gear-icon {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s;
}

#gear-icon:hover {
  transform: rotate(90deg); /* Slight animation when hovering */
}
