.widget-bar {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 200px;
  height: 40px;
  background-color: #ff7f7f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: white;
}

/* #plasmo-shadow-container {
    z-index: 10 !important;
    position: fixed !important;
  }
  
  #plasmo-overlay-0 {
    border: 8px solid aqua;
  } */
